# dependencies
/node_modules

# IDE - WebStorm
/.idea/*
!/.idea/jsLibraryMappings.xml
!/.idea/misc.xml
!/.idea/vcs.xml
!/.idea/codeStyles/
!/.idea/inspectionProfiles/

# misc
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/package-lock.json
