.build-stats {
  padding-top: 30px;
  padding-left: 30px;

  .stats-view {
    width: 105px;
    color: #454545;
    font-family: sans-serif;
    font-size: 25px;
    font-weight: bold;
    line-height: 34px;
  }

  .divider {
    border-right: 1px solid #979797;
  }

  span {
    height: 19px;
    width: 170px;
    color: #454545;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 19px;
  }
}

