<div class="columns build-stats">
  <div class="column divider stats-view">{{DeploymentStats.StartToDeploy}}<br>
    <span>Production deployment frequency</span></div>

  <div class="column divider stats-view">{{DeploymentStats.ChangeFailRate}} <br>
    <span>Change failure rate</span></div>

  <div class="column divider stats-view">{{DeploymentStats.LeadTimeToChange}} <br>
    <span>Lead time to change</span></div>
  <div class="column divider stats-view">{{DeploymentStats.MeanTimeToRestore}} <br>
    <span>Mean time to restore</span></div>
  <div class="column stats-view">{{TeamNpsRating}} <br>
    <span>Team NPS rating</span></div>
</div>
