
  <div class="breakdown-heading">Team work breakdown</div>
  <div class="columns breakdown-chart">
    <svg-icon [applyCss]="true" src="../../../assets/icons/chart-{{ProjectId}}.svg"></svg-icon>
  </div>
  <div class="columns breakdown-legend">
    <div class="column rectangle-copy-6"></div>
    <p>{{TeamWorkBreakdown.NewFeatures}}% New features</p>
    <div class="column rectangle-copy-7"></div>
    <p>{{TeamWorkBreakdown.TechnicalDebits}}% Technical debits</p>
    <div class="column rectangle-copy-8"></div>
    <p>{{TeamWorkBreakdown.Rework}}% Rework</p>
    <div class="column rectangle-copy-9"></div>
    <p>{{TeamWorkBreakdown.Bugs}}% Bugs</p>
  </div>




