$lightest-grey :#E6E6E6;
$lighter-grey: #6A6A6A;
$grey: #6B6864;
$darker-grey: #454545;

$white: #ffffff;
$page-background-color: #ECF0F6;

$text-blue: #0D5674;
$text-main-color: $darker-grey;


//heart colors:
$health-excellent: #31BC87;
$health-very-good: #4DC736;
$health-average: #DEEA42;
$health-poor: #E44C41;

//work breakdown
$new-features : #36C77B;
$technical-debits: #079EDA;
$rework: #566473;
$bugs: #FFC907;
